#---------------------
# Google API tokens and credentials
#---------------------
credentials.json
token.pickle

#---------------------
# ID string for google folder
#---------------------
google_folder_id.txt